@media only screen and (max-width: 900px) {
	header {
		text-align: center;
	}
	header img {
		width: 20%;
		height: auto;
	}
	.page_head_para {
		font-size: 18px;
		letter-spacing: 8px;
	}
	.sb-head-one {
		font-size: 15px;
		margin-bottom: 1.5%;
		margin-top: 1.5%;
	}
	.sub-head-one-content {
		font-size: 15px;
	}
}
@media only screen and (max-width: 900px) {
	header {
		text-align: center;
	}
	header img {
		width: 25%;
		height: auto;
	}
	.page_head_para {
		font-size: 20px;
		letter-spacing: 9px;
	}
	.sb-head-one {
		font-size: 16px;
		margin-bottom: 1.5%;
		margin-top: 1%;
	}
	.sub-head-one-content {
		font-size: 14px;
	}
}
@media only screen and (max-width: 480px) {
	header {
		text-align: center;
	}
	header img {
		width: 40%;
		height: auto;
	}
	.page_head_para {
		font-size: 16px;
		margin-top: 3%;
	}
	.sb-head-one {
		font-size: 14px;
		margin-top: 1.5%;
		margin-bottom: 2%;
	}
	.sub-head-one-content {
		font-size: 14px;
	}
}
@media only screen and (max-width: 360px) {
	header {
		text-align: center;
	}
	header img {
		width: 45%;
		height: auto;
	}
	.page_head_para {
		font-size: 15px;
		margin-top: 3%;
	}
	.sb-head-one {
		font-size: 13px;
		margin-top: 1.5%;
		margin-bottom: 3%;
	}
	.sub-head-one-content {
		font-size: 13px;
	}
}